In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("weather.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
df.head(1)

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain

In [6]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
rows, columns = df.shape

(6, 4)

In [11]:
rows

6

In [12]:
columns

4

In [13]:
df[2:5] #It will not include 5.

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [15]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [19]:
df[['day', 'windspeed']]

        day  windspeed
0  1/1/2017          6
1  1/2/2017          7
2  1/3/2017          2
3  1/4/2017          7
4  1/5/2017          4
5  1/6/2017          2

In [23]:
df['temperature'].max()

35

In [24]:
df['temperature'].min()

24

In [25]:
df['temperature'].std() #Standard Deviation

3.8297084310253524

In [26]:
df.describe() #This gives the statistics of our data set.

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [27]:
df[df.temperature>=32] #Conditional Select

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [28]:
df[df.temperature == df.temperature.max()] # or df[df['temperature'] == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [29]:
df[df['temperature'] == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [33]:
df[['day', 'event' ,'temperature']][df.temperature == df.temperature.max()]

        day  event  temperature
1  1/2/2017  Sunny           35

In [34]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [38]:
df[['temperature', 'day']][df['temperature'] == df['temperature'].max()]

   temperature       day
1           35  1/2/2017

In [49]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [52]:
df.loc[1/1/2017]

KeyError: 0.0004957858205255329

In [54]:
df.reset_index(inplace=True)

In [55]:
df

   index       day  temperature  windspeed  event
0      0  1/1/2017           32          6   Rain
1      1  1/2/2017           35          7  Sunny
2      2  1/3/2017           28          2   Snow
3      3  1/4/2017           24          7   Snow
4      4  1/5/2017           32          4   Rain
5      5  1/6/2017           31          2  Sunny

In [56]:
df.set_index('event', inplace=True)