In [18]:
import pandas as pd
df = pd.read_csv("weather.csv") #Using CSV files

In [19]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [25]:
df1 = pd.read_excel("weather.xlsx","Sheet1") #Using XLS file

In [26]:
df1

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow
3 2017-01-04           24          7   Snow
4 2017-01-05           32          4   Rain
5 2017-01-06           31          2  Sunny

In [32]:
weather = {
    'day':['1/1/2017','1/2/2017'],
    'temperature':[32,48], 
    'windspeed':[6,7],
    'event':['Rain','Sunny']
}
df = pd.DataFrame(weather) #Using python Dictionary
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           48          7  Sunny

In [33]:
weather = [('1/1/2017', 32,48,'Rain'),
           ('1/2/2017',6,7,'Sunny')]
df = pd.DataFrame(weather, columns=["day","temperature","windspeed","event"]) #Using python tuple
df

        day  temperature  windspeed  event
0  1/1/2017           32         48   Rain
1  1/2/2017            6          7  Sunny

In [35]:
weather = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'}]
df = pd.DataFrame(weather)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny