In [1]:
import pandas as pd
df = pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

Now, lets split the data into inputs, target. Here the target is salary_more_than_100k, rest all are our inputs.

In [2]:
inputs = df.drop('salary_more_then_100k', axis='columns')

target = df['salary_more_then_100k']

In [3]:
len(target)

16

In [4]:
len(inputs)

16

In [5]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [6]:
#Since, the ML algorithms only work on numbers... let's convert the inputs data to numbers by using the label encoders.

from sklearn.preprocessing import LabelEncoder

In [7]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [8]:
inputs['company_num'] = le_company.fit_transform(inputs['company']) #As we know inputs['company_num'] creates a seperate column in the inputs data frame.
inputs['job_num'] = le_job.fit_transform(inputs['job'])
inputs['degree_num'] = le_degree.fit_transform(inputs['degree'])

In [9]:
inputs.head()

  company                  job     degree  company_num  job_num  degree_num
0  google      sales executive  bachelors            2        2           0
1  google      sales executive    masters            2        2           1
2  google     business manager  bachelors            2        0           0
3  google     business manager    masters            2        0           1
4  google  computer programmer  bachelors            2        1           0

In [10]:
inputs_num = inputs.drop(['company', 'job', 'degree'], axis = 'columns')

In [11]:
inputs_num.head()

   company_num  job_num  degree_num
0            2        2           0
1            2        2           1
2            2        0           0
3            2        0           1
4            2        1           0

Lets Train the model now.

In [12]:
from sklearn import tree

In [13]:
model = tree.DecisionTreeClassifier()

In [14]:
model.fit(inputs_num, target) #Here, we can also use train_test_split

DecisionTreeClassifier()

In [15]:
model.predict([[2,0,0]])

array([1], dtype=int64)

In [16]:
model.score(inputs_num, target)

1.0

Lets try using Train Test Split method.

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(inputs_num, target, test_size=0.2)

In [19]:
model_t = tree.DecisionTreeClassifier()

In [20]:
model_t.fit(X_train, y_train)

DecisionTreeClassifier()

In [21]:
y_pred = model_t.predict(X_test)

In [22]:
len(X_test)

4

In [23]:
model_t.score(X_test, y_test)

0.75